app {
  min-height: 100vh;
  background: linear-gradient(#8ecae6, #dbeafe);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 320px;
  padding: 20px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(15px);
  color: white;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}
/* SEARCH */
.search {
  display: flex;
  padding: 10px;
  border-radius: 25px;
  background: rgba(255,255,255,0.3);
}
.search input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}
.search button {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
}
/* LOCATION */
.location {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.9;
}
/* CURRENT */
.current {
  text-align: center;
  margin: 20px 0;
}
.current img {
  width: 90px;
}
.current h1 {
  font-size: 48px;
}
/* DETAILS */
.details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.details div {
  text-align: center;
  font-size: 14px;
}
.details span {
  display: block;
  font-weight: bold;
}
/* FORECAST */
.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.forecast-card {
  width: 60px;
  padding: 10px;
  border-radius: 20px;
  background: rgba(255,255,255,0.25);
  text-align: center;
}
.forecast-card img {
  width: 30px;
}
