* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body {
    min-height: 100vh;
    background: linear-gradient(135deg, #e6f0ff, #fefefe);
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
